.sidebar-nav .dropend .dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(90deg);
}

.dropdown-toggle:after {
    transition: 0.5s;
}

#sidebar {
    position: relative;
}

#sidebar.collapsing {
    left: -75%;
    -webkit-transition: left 0.1s ease;
    -o-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    transition: left 0.1s ease;
}

#sidebar.show {
    left: 0;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.navbar-toggler.collapsed,
#sidebar {
    transition: left 0.5s ease-in-out;
}